<section class="section">
  <div class="container">
    <div class="section-header">
      <b>Переваги</b>
      <h2 class="section-title">Чому обрати нас?</h2>
      <p>Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
                стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
                відповідальність.
      </p>
    </div>
    <ul class="advant-list">
      <li class="advant-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="
                            /img/advantages/advant-desk-1-min.jpg    1x,
                            /img/advantages/advant-desk-1@2x-min.jpg 2x
                          "/>
          <source media="(min-width: 768px)" srcset="
                            ../img/advantages/advant-tab-1-min.jpg    1x,
                            ../img/advantages/advant-tab-1@2x-min.jpg 2x
                          "/>
          <source media="(max-width: 767px)" srcset="
                            ../img/advantages/advant-mob-1-min.jpg    1x,
                            ../img/advantages/advant-mob-1@2x-min.jpg 2x
                          "/>
          <img class="advant-img" src="../img/advantages/advant-mob-1-min.jpg" alt="Натуральний склад"/>
        </picture>

        <h3 class="advant-list-title">Стійкість та екологічність</h3>
        <p class="advant-list-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="
                            /img/advantages/advant-desk-2-min.jpg    1x,
                            /img/advantages/advant-desk-2@2x-min.jpg 2x
                          "/>
          <source media="(min-width: 768px)" srcset="
                            ../img/advantages/advant-tab-2-min.jpg    1x,
                            ../img/advantages/advant-tab-2@2x-min.jpg 2x
                          "/>
          <source media="(max-width: 767px)" srcset="
                            ../img/advantages/advant-mob-2-min.jpg    1x,
                            ../img/advantages/advant-mob-2@2x-min.jpg 2x
                          "/>
          <img class="advant-img" src="../img/advantages/advant-mob-2-min.jpg" alt="Процес виробництва"/>
        </picture>
        <h3 class="advant-list-title">Міцність і довговічність</h3>
        <p class="advant-list-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advant-item">
        <picture>
          <source media="(min-width: 1440px)" srcset="
                            /img/advantages/advant-desk-3-min.jpg    1x,
                            /img/advantages/advant-desk-3@2x-min.jpg 2x
                          "/>
          <source media="(min-width: 768px)" srcset="
                            ../img/advantages/advant-tab-3-min.jpg    1x,
                            ../img/advantages/advant-tab-3@2x-min.jpg 2x
                          "/>
          <source media="(max-width: 767px)" srcset="
                            ../img/advantages/advant-mob-3-min.jpg    1x,
                            ../img/advantages/advant-mob-3@2x-min.jpg 2x
                          "/>
          <img class="advant-img" src="../img/advantages/advant-mob-3-min.jpg" alt="Сумки фірми EcoTote"/>
        </picture>
        <h3 class="advant-list-title">Стильний та сучасний дизайн</h3>
        <p class="advant-list-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</div>
