<section class="section">
  <div class="container">
    <h2 class="section-title assortment-title">Наші сумки</h2>
    <ul class="card-list">
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-1@2x-min.jpg,
              ./img/assortment/bag-desk-1-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-1@2x-min.jpg,
              ./img/assortment/bag-tab-1-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-1@2x-min.jpg,
              ./img/assortment/bag-mob-1-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-1-min.jpg"
            alt="Стильна та містка сумка-тоут"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoBag Classic</h3>
          <p class="text card-text">
            Елегантна та містка сумка для щоденного використання.
          </p>
          <p class="card-price">$25</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-2@2x-min.jpg,
              ./img/assortment/bag-desk-2-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-2@2x-min.jpg,
              ./img/assortment/bag-tab-2-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-2@2x-min.jpg,
              ./img/assortment/bag-mob-2-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-2-min.jpg"
            alt="Міцна сумка для покупок"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoTote Shopper</h3>
          <p class="text card-text">
            Ідеальна для покупок, з посиленими ручками.
          </p>
          <p class="card-price">$30</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-3@2x-min.jpg,
              ./img/assortment/bag-desk-3-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-3@2x-min.jpg,
              ./img/assortment/bag-tab-3-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-3@2x-min.jpg,
              ./img/assortment/bag-mob-3-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-3-min.jpg"
            alt="Сучасний екологічний міський рюкзак"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoBackpack Urban</h3>
          <p class="text card-text">
            Зручний рюкзак для міста з відділенням для ноутбука.
          </p>
          <p class="card-price">$45</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-4@2x-min.jpg,
              ./img/assortment/bag-desk-4-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-4@2x-min.jpg,
              ./img/assortment/bag-tab-4-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-4@2x-min.jpg,
              ./img/assortment/bag-mob-4-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-4-min.jpg"
            alt="Компактна сумка через плече"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoCrossbody Mini</h3>
          <p class="text card-text">
            Компактна сумка через плече для найнеобхіднішого.
          </p>
          <p class="card-price">$20</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-5@2x-min.jpg,
              ./img/assortment/bag-desk-5-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-5@2x-min.jpg,
              ./img/assortment/bag-tab-5-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-5@2x-min.jpg,
              ./img/assortment/bag-mob-5-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-5-min.jpg"
            alt="Невелика сумка для ланчу"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoLunch Bag</h3>
          <p class="text card-text">Стильна та практична сумка для обідів.</p>
          <p class="card-price">$15</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-6@2x-min.jpg,
              ./img/assortment/bag-desk-6-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-6@2x-min.jpg,
              ./img/assortment/bag-tab-6-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-6@2x-min.jpg,
              ./img/assortment/bag-mob-6-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-6-min.jpg"
            alt="Велика, зручна пляжна сумка-тоут"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoBeach Tote</h3>
          <p class="text card-text">
            Велика сумка для пляжних речей з водонепроникною підкладкою.
          </p>
          <p class="card-price">$35</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-7@2x-min.jpg,
              ./img/assortment/bag-desk-7-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-7@2x-min.jpg,
              ./img/assortment/bag-tab-7-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-7@2x-min.jpg,
              ./img/assortment/bag-mob-7-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-7-min.jpg"
            alt="Містка дорожня сумка"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoTravel Duffle</h3>
          <p class="text card-text">
            Містка дорожня сумка з додатковими кишенями.
          </p>
          <p class="card-price">$60</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
      <li class="card">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/assortment/bag-desk-8@2x-min.jpg,
              ./img/assortment/bag-desk-8-min.jpg
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/assortment/bag-tab-8@2x-min.jpg,
              ./img/assortment/bag-tab-8-min.jpg
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/assortment/bag-mob-8@2x-min.jpg,
              ./img/assortment/bag-mob-8-min.jpg
            "
          />
          <img
            src="./img/assortment/bag-desk-8-min.jpg"
            alt="Екологічний дитячий рюкзак"
            class="assortment-image"
            width="340"
            height="408"
            class="assortment-image"
          />
        </picture>
        <div class="card-text-wrap">
          <h3 class="card-sub-title">EcoKids Bag</h3>
          <p class="text card-text">Яскрава та зручна сумка для дітей.</p>
          <p class="card-price">$22</p>
          <button class="scroll-btn btn" type="button">Купити</button>
        </div>
      </li>
    </ul>
  </div>
</section>
