<section id="feedbacks" class="section">
  <div class="container">
    <h2 class="section-title">Що говорять наші клієнти</h2>
    <ul class="feedbacks-list">
      <li class="feedbacks-link">
        <div class="container-feedbacks">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p class="feedbacks-text">Сумка дуже зручна та стильна, використовую щодня!</p>
          <p class="author">Анна</p>
        </div>
      </li>
      <li class="feedbacks-link">
        <div class="container-feedbacks">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p class="feedbacks-text">Відмінна якість матеріалів, приємно здивована.</p>
          <p class="author">Ігор</p>
        </div>
      </li>
      <li class="feedbacks-link">
        <div class="container-feedbacks">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p class="feedbacks-text">Сумка повністю відповідає опису, рекомендую!</p>
          <p class="author">Олена</p>
        </div>
      </li>
      <li class="feedbacks-link">
        <div class="container-feedbacks">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p class="feedbacks-text">Швидка доставка та гарне обслуговування.</p>
          <p class="author">Сергій</p>
        </div>
      </li>
    </ul>
  </div>
</section>
