<footer class="footer">
  <div class="container footer-container">
    <div class="footer-desc-container-top">
      <a
        class="footer-networks-link footer-networks-link-logo"
        href="./index.html"
        aria-label="Go to homepage"
      >
        <svg class="footer-logo" height="121" width="281">
          <use href="./img/logo.svg#logo-text"></use>
        </svg>
      </a>

      <nav class="footer-nav-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#about" class="footer-nav-element">Про нас</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#advantages" class="footer-nav-element">Переваги</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#assortment" class="footer-nav-element">Асортимент</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#gallery" class="footer-nav-element">Галерея</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#feedbacks" class="footer-nav-element">Відгуки</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#support" class="footer-nav-element">Контакти</a>
          </li>
        </ul>
      </nav>

      <ul class="footer-networks-list">
        <li class="footer-networks-icon">
          <a
            class="footer-networks-link"
            href="https://www.instagram.com/"
            target="_blank"
            title="Instagram"
          >
            <svg class="footer-networks-item" height="32" width="32">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-networks-icon">
          <a
            class="footer-networks-link"
            href="https://www.linkedin.com/"
            target="_blank"
            title="Linkedin"
          >
            <svg class="footer-networks-item" height="32" width="32">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer-networks-icon">
          <a
            class="footer-networks-link"
            href="https://www.youtube.com/"
            target="_blank"
            title="Youtube"
          >
            <svg class="footer-networks-item" height="32" width="32">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-container-bottom">
      <address class="footer-contact-info">
        <ul class="footer-adress-list">
          <li class="footer-adress-item">
            <a href="tel:+380999091122" class="footer-adress-element"
              >+38 (099) 909 11 22</a
            >
          </li>
          <li class="footer-adress-item">
            <a href="mailto:hello@ecotote.com" class="footer-adress-element"
              >hello@ecotote.com</a
            >
          </li>
        </ul>
      </address>

      <p class="footer-desc">© 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
