<section class="section">
  <div class="container">
    <div class="section-header section-header--center section-header--low">
      <h2 class="section-title">Галерея зображень</h2>
      <p>EcoTotes у повсякденному житті</p>
    </div>
    <ul class="gallery">
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source media="(min-width: 1440px)" srcset="
             ./img/gallery/eco-tote.jpg 1x,
             ./img/gallery/eco-tote@2x.jpg 2x"/>
          <source media="(min-width: 768px)" srcset="
            ./img/gallery/eco-tote-tab.jpg 1x,
            ./img/gallery/eco-tote-tab@2x.jpg 2x"/>
          <source media="(max-width: 767px)" srcset="
            ./img/gallery/eco-tote-mob.jpg 1x,
            ./img/gallery/eco-tote-mob@2x.jpg 2x"/>
          <img src="./img/gallery/eco-tote.jpg" height="421" width="422" alt="eco-tote"/>
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source media="(min-width: 1440px)" srcset="
            ./img/gallery/city.jpg 1x,
            ./img/gallery/city@2x.jpg 2x"/>
          <source media="(min-width: 768px)" srcset="
            ./img/gallery/city-tab.jpg 1x,
            ./img/gallery/city-tab@2x.jpg 2x"/>
          <source media="(max-width: 767px)" srcset="
            ./img/gallery/city-mob.jpg 1x,
            ./img/gallery/city-mob@2x.jpg 2x"/>
          <img src="./img/gallery/city.jpg" height="421" width="422" alt="city"/>
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source media="(min-width: 1440px)" srcset="
            ./img/gallery/person-walking.jpg 1x,
            ./img/gallery/person-walking@2x.jpg 2x"/>
          <source media="(min-width: 768px)" srcset="
            ./img/gallery/person-walking-tab.jpg 1x,
            ./img/gallery/person-walking-tab@2x.jpg 2x"/>
          <source media="(max-width: 767px)" srcset="
            ./img/gallery/person-walking-mob.jpg 1x,
            ./img/gallery/person-walking-mob@2x.jpg 2x"/>
          <img src="./img/gallery/person-walking.jpg" height="421" width="422" alt="person-walking"/>
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source media="(min-width: 1440px)" srcset="
            ./img/gallery/young-woman.jpg 1x,
            ./img/gallery/young-woman@2x.jpg 2x"/>
          <source media="(min-width: 768px)" srcset="
            ./img/gallery/young-woman-tab.jpg 1x,
            ./img/gallery/young-woman-tab@2x.jpg 2x"/>
          <source media="(max-width: 767px)" srcset="
            ./img/gallery/young-woman-mob.jpg 1x,
            ./img/gallery/young-woman-mob@2x.jpg 2x"/>
          <img src="./img/gallery/young-woman.jpg" height="421" width="422" alt="young-woman"/>
        </picture>
      </li>
    </ul>
  </div>
</section>
