<header class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <a class="site-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="110" height="46">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item"><a class="header-link" href="">Про нас</a></li>
        <li class="header-item"><a class="header-link" href="">Переваги</a></li>
        <li class="header-item"><a class="header-link" href="">Асортимент</a></li>
        <li class="header-item"><a class="header-link" href="">Галерея</a></li>
        <li class="header-item"><a class="header-link" href="">Відгуки</a></li>
        <li class="header-item"><a class="header-link" href="">Контакти</a></li>
      </ul>
    </nav>
      <address class="header-contacts">
        <ul class="address-list">
          <li class="address-item"><a class="adress-link" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
          <li class="address-item"><a class="adress-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
        </ul>
      </address>

      <button class="burger-btn" type="button"><svg class="burger-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-hamburger"></use>
      </svg></button>

      <button class="burger-btn-tab" type="button"><svg class="burger-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-hamburger"></use>
      </svg></button>

      <div class="mobile-menu">
        <div class="container mobile-menu-container">
          <div class="logo-mob">
            <a class="site-logo" href="./index.html" aria-label="Site logo">
                    <svg class="nav-logo-icon" width="110" height="46">
            <use href="{=$icon-path}"></use>
                    </svg>
                  </a>
            <button class="mobile-menu-cross" type="button">
              <svg class="mobile-icon-cross" width="15" height="15">
              <use href="../img/sprite.svg#icon-close"></use>
            </svg>
            </button>
          </div>
          <nav class="mobile-nav">
            <ul class="mobile-list">
              <li class="mobile-item"><a class="mobile-link" href="">Про нас</a></li>
              <li class="mobile-item"><a class="mobile-link" href="">Переваги</a></li>
              <li class="mobile-item"><a class="mobile-link" href="">Асортимент</a></li>
              <li class="mobile-item"><a class="mobile-link" href="">Галерея</a></li>
              <li class="mobile-item"><a class="mobile-link" href="">Відгуки</a></li>
              <li class="mobile-item"><a class="mobile-link" href="">Контакти</a></li>
            </ul>
          </nav>
          <address class="mobile-adress">
          <ul class="mobile-adress-list">
            <li class="mobile-address-item"><a class="mobile-adress-link" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
            <li class="mobile-address-item"><a class="mobile-adress-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
          </ul>

          </address>
        </div>
      </div>

  </div>
</header>
