<section id="support" class="section">
  <div class="container">
    <div class="support-wrapper">
      <div class="support-wrapper-item">
        <h2 class="section-title">Залишились питання? Зв'яжіться з нами!</h2>
        <p>Ми тут, щоб допомогти!</p>

        <form autocomplete="off">
          <div class="modal-wrapper">
            <label class="modal-label" for="user-name">Ім'я</label>
            <div class="modal-field">
              <input
                class="modal-input"
                type="text"
                id="user-name"
                name="user-name"
                placeholder="Іван"
                required
                minlength="5"
                maxlength="64"
              />

              <div class="error-message">Error text</div>
            </div>
          </div>

          <div class="modal-wrapper">
            <label class="modal-label" for="email">Електронна пошта</label>
            <div class="modal-field">
              <input
                class="modal-input"
                type="email"
                id="email"
                name="email"
                placeholder="hello@ecotote.com"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              />
              <div class="error-message">Error text</div>
            </div>
          </div>

          <div class="modal-wrapper">
            <label class="modal-label" for="user-comment">Повідомлення </label>
            <textarea
              class="modal-textarea"
              name="user-comment"
              id="user-comment"
              maxlength="500"
              placeholder="Введіть своє повідомлення..."
            ></textarea>
          </div>

          <button class="btn" type="submit">Надіслати</button>
        </form>
      </div>

      <div class="support-bg"></div>
    </div>
  </div>
</section>
