.about {
  background-color: #ccc;
  background-image: url();

  .section-header {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;

    .section-title {
      text-align: center;
    }
  }
}
