.advant-container {
  gap: 0;
  margin-bottom: 48px;
}

.container.advantages {
  gap: 0;
}

.advant-title {
  margin-bottom: 20px;
}

.advant-list {
  display: grid;
  gap: 48px;
}

.advant-img {
  border-radius: 32px;
  margin-bottom: 8px;
  width: 100%;
}

.advant-list-title {
  color: #030a06;
  margin-bottom: 4px;
}

.advant-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .advant-container {
    margin-bottom: 32px;
  }

  .advant-title {
    margin-bottom: 24px;
  }

  .advant-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .advant-item:nth-child(3n) {
    grid-column: 1/3;
  }

  .advant-text {
    font-size: 18px;
    line-height: 1.6;
  }

  .advant-img {
    margin-bottom: 32px;
  }

  .advant-list-title {
    margin-bottom: 8px;
  }

  .advant-item:nth-child(2) .advant-list-title {
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .advant-container {
    max-width: 768px;
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  .advant-list-title,
  .advant-item:nth-child(2) .advant-list-title {
    margin-bottom: 24px;
  }

  .advant-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .advant-item:nth-child(3n) {
    grid-column: auto;
  }
}
