.section-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
}

/* .card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text-wrap {
  width: 288px;
} */

.assortment-image {
  width: 288px;
  height: auto;
  margin-bottom: 16px;
  border-radius: 32px;
}

.card-sub-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.card-text {
  font-size: 14px;
  text-align: center;
  color: #030a06;
  margin-bottom: 8px;
}

.card-price {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #030a06;
  margin-bottom: 16px;
}

.scroll-btn {
  color: #030a06;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px 0;
  }

  .card-list {
    gap: 24px;
  }

  .assortment-image {
    width: 340px;
  }

  .card-text-wrap {
    width: 340px;
  }

  .scroll-btn {
    width: 100%;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-image {
    width: 310px;
  }
  /* 
  .card-text-wrap {
    width: 310px;
  } */
}
