.assortment-image {
  max-width: 340px;
  height: auto;
  margin-bottom: 16px;
  border-radius: 36px;
}

.card-sub-title {
  text-align: center;
  font-size: 18px;
}

.card-text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
}

.card-price {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.scroll-btn {
  color: #030a06;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
<<<<<<< HEAD
  .scroll-btn.btn {
    max-width: 100%;
    height: 40px;
  }
}
=======
  .card-list {
    gap: 24px;
  }

  .assortment-image {
    width: 340px;
  }

  .card-text-wrap {
    width: 340px;
  }

  .scroll-btn {
    width: 100%;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .assortment-image {
    width: 310px;
  }
}
>>>>>>> 91ec5fd... Fix code after merge
