:root {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --second-family: 'Comfortaa', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: #ebf8ed;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: var(--second-family);
  line-height: 1.2;
  letter-spacing: 0.01em;
}

h1,
.h1 {
  font-size: 40px;

  @media screen and (min-width: 1440px) {
    font-size: 56px;
  }
}

h2,
.h2 {
  font-size: 36px;

  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

h3,
.h3 {
  font-size: 24px;
  line-height: 1.4;

  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  transition: var(--transition);
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
