.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}

.container-narrow {
  max-width: 296px;

  @media screen and (min-width: 768px) {
    max-width: 588px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1160px;
  }
}
