.feedbacks-list {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    gap: 40px;
}

.feedbacks-list .feedbacks-link {
    width: calc((100% - 0) / 1);
}

.feedbacks-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #030A06;
    padding-top: 24px;
    padding-bottom: 24px;
}

.author {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #030A06;
}

.container-feedbacks {
    display: block;
}

.stars {
    display: flex;
}

.icons-feedbacks {
    fill: #3AC04C;
}

.icons-feedbacks-negative {
    fill: #030A06;
}

@media screen and (min-width: 768px) {
    .feedbacks-list {
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        gap: 32px 24px;
    }

    .feedbacks-list .feedbacks-link {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1440px) {
    .feedbacks-list {
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        gap: 24px;
    }

    .feedbacks-list .feedbacks-link {
        width: calc((100% - 72px) / 4);
    }
}
