.feedbacks-list {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    gap: 40px;
}

.feedbacks-list .feedbacks-link {
    width: calc((100% - 0) / 1);
}

.feedbacks-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-1-text);
}

.author {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {
    .feedbacks-list {
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        gap: 32px 24px;
    }

    .feedbacks-list .feedbacks-link {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1440px) {
    .feedbacks-list {
        display: flex;
        align-items: center;
        text-align: left;
        flex-wrap: wrap;
        gap: 24px;
    }

    .feedbacks-list .feedbacks-link {
        width: calc((100% - 72px) / 4);
    }
}
