html {
  scroll-behavior: smooth;
}
.header {
background-color: #75d281;
padding: 13px 0;
position: sticky;
top: 0; 
z-index: 1000; 
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .header-list, 
.header-contacts {
display: none;
}

.burger-btn {
  display: flex;
align-items: center;
border: none;
background-color: transparent;
cursor: pointer;
transition: var(--transition);
}

.burger-btn-tab {
  display: none;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.mobile-menu-cross {
   width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.mobile-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
padding-left: 20px;
padding-top: 32px;
}

/* .mobile-link:hover,
.mobile-link:focus {
  color: #113916;
} */


.mobile-adress {
  margin-top: auto;
  margin-bottom: 92px;
  font-style: normal;
  padding-left: 16px;
}

.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@media screen and (min-width: 768px) {
  .mobile-adress {
  margin-top: auto;
  margin-bottom: 128px;
  }

  .burger-btn-tab {
display: flex;
align-items: center;
border: none;
background-color: transparent;
cursor: pointer;
transition: var(--transition);
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
.header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
}

.site-logo {
margin-right: 175px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-link {
  padding: 23px 0;
}

/* .header-link:hover,
.header-link:focus {
  color: #113916;
} */

.header-contacts {
margin-left: auto;  
}


.header-contacts {
display: block;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger-btn {
  display: none;
}

.burger-btn-tab {
  display: none;
}


}
