.section {
  width: 100%;
  padding: 32px 16px;

  @media screen and (min-width: 768px) {
    padding: 64px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 64px;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.section-title {
  margin-bottom: 0;
  text-align: center;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  @media screen and (min-width: 1440px) {
    padding-bottom: 48px;
  }

  .section-title {
    text-align: left;
    margin-bottom: 8px;
  }
}
