.styleguide {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.styleguide__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px;
}

.styleguide__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
