.support-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.support-wrapper-item .section-title {
  margin-bottom: 24px;
  text-align: left;
}

.support-wrapper p {
  font-size: 18px;
  margin-bottom: 32px;
}

.modal-wrapper {
  margin-bottom: 24px;
}
.modal-label {
  display: block;
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  padding: 8px 12px;
  width: 100%;
  height: 42px;
  background-color: rgba(3, 10, 6, 0.05);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder,
.modal-textarea::placeholder {
  color: rgba(3, 10, 6, 0.6);
}

input:valid {
  border-color: rgba(3, 10, 6, 0.15);
}

input:user-invalid {
  border-color: #d64040;
  color: #d64040;
}

.modal-field {
  position: relative;

  .error-message {
    position: absolute;
    bottom: -1.5em; /* Размещаем под полем */
    left: 0;
    font-size: 12px;
    color: #d64040;

    display: none;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }

  input:user-invalid + .error-message {
    opacity: 1;
    visibility: visible;
    display: inline-block;
  }
}

.modal-textarea {
  resize: none;
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
  padding: 12px;
  width: 100%;
  height: 180px;
  background-color: rgba(3, 10, 6, 0.05);
  outline: transparent;
}

.support-wrapper-item .btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.support-bg {
  width: 100%;
  height: 428px;
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 61px;
  background-image: url('../img/support/support-mob-img-min.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 2x) {
  .support-bg {
    background-image: url('../img/support/support-mob-img@2x-min.webp');
  }
}

@media screen and (min-width: 768px) {
  .support-wrapper-item .section-title {
    max-width: 468px;
  }
  .modal-input {
    width: 704px;
  }

  .modal-textarea {
    width: 704px;
  }

  .support-wrapper-item .btn {
    margin-right: auto;
    margin-left: 0;
    width: 249px;
  }
  .support-bg {
    border-radius: 40px;
    width: 704px;
    background-image: url('../img/support/support-tab-img-min.webp');
  }

  @media screen and (min-width: 768px) and (min-resolution: 2x) {
    .support-bg {
      background-image: url('../img/support/support-tab-img@2x-min.webp');
    }
  }
}

@media screen and (min-width: 1440px) {
  .support-wrapper-item .section-title {
    max-width: 644px;
  }
  .modal-input {
    width: 644px;
  }
  .modal-textarea {
    width: 644px;
  }
  .support-wrapper-item .btn {
    margin-right: auto;
    margin-left: 0;
    width: 149px;
  }

  .support-bg {
    max-width: 644px;
    height: 767px;

    background-image: url('../img/support/support-desktop-img-min.webp');
  }

  @media screen and (min-width: 1440px) and (min-resolution: 2x) {
    .support-bg {
      background-image: url('../img/support/support-desktop-img@2x-min.webp');
    }
  }
}
